<header class="header">
	<div class="container">
		<div class="flex items-center">
			<div class="col-2 position-relative header__box-logo">
				<div class="text-center">
					<a href="/" class="text-center d-block mw-100">
						<img src="@img/icons/logo.svg" alt="logo" class="mw-100" />
					</a>
				</div>
			</div>
			<div class="col-2 services">
				<div class="dropdown">
					<button
						class="bg-white btn btn-header dropdown-toggle fw-medium d-flex align-items-center text-gray"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						@@include('../blocks/_square.html')
						<span> Услуги </span>
					</button>
					@@include('../blocks/_nav.html',{})
				</div>
			</div>
			<div class="col-2">@@include('../blocks/_social.html',{})</div>
			<div class="col-3">@@include('../blocks/_phones.html',{})</div>
			<div class="col-2">
				<button type="button" id="" class="btn btn-primary fw-medium">
					Работать с нами
				</button>
			</div>
			<div class="col-1">
				<button
					type="button"
					id=""
					class="gap-3 btn btn-menu d-flex align-items-center fw-medium"
				>
					@@include('../blocks/_square-menu.html')
					<span> Меню </span>
				</button>
			</div>
		</div>
	</div>
</header>
