.slider {
	// .slider__item
	&__item {
	}
	&__content {
	}
	// .slider__counter
	&__counter {
		color: rgba(63, 109, 155, 0.15);
		font-size: 288px;
		position: absolute;
		top: -60%;
		left: 0%;
		@media only screen and (min-width: 768px) {
			top: -100%;
		}
		@media only screen and (min-width: 991px) {
			top: -120%;
			left: -15%;
		}
	}
	// .slider__title
	&__title {
		margin-top: 50px;
	}
	// .slider__box-img
	&__box-img {
		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
	// .slider__img
	&__img {
	}
}

.slick-initialized {
}
.slick-slider {
}
.slick-dotted {
}
.slider__controls-btns {
}
.slider__controls-dots {
	position: absolute;
	right: 2em;
	top: 42em;

	z-index: 50;
	@media only screen and (min-width: 575px) {
		top: 40em;
		left: inherit;
		right: 4em;
	}

	@media only screen and (min-width: 992px) {
		top: 38em;
		right: 1em;
	}
}
.slick-prev {
}
.slick-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url('@img/icons/arrow_slider.svg') no-repeat center;
	border: 1px solid rgb(50, 50, 50);

	z-index: 10;
	&:hover {
		background: url('@img/icons/arrow_slider-white.svg') no-repeat center;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
}
.slider-next {
}
.slick-list {
}
.draggable {
}
.slick-track {
}
.slick-slide {
}
.slick-current {
}
.slick-active {
}
.fs-42 {
}
.fw-700 {
}
.slick-prev {
	transform: rotate(180deg);
}
.slick-dots {
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	gap: 20px;
	@media only screen and (min-width: 575px) {
		flex-direction: column;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: 1px solid #3f6d9b;
		border-radius: 50%;
		&.slick-active {
			border-color: #e2484d;
			button {
				background-color: #e2484d;
			}
		}
		button {
			background-color: #3f6d9b;
			text-indent: -9999px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}
}
