.social {
	list-style: none;
	max-width: 140px;
	li {
		a {
			display: flex;
			width: 40px;
			height: 40px;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			border: 1px solid #323232;
			background-color: #1e1e1e;
			&:hover {
				border-color: #1e1e1e;
				background-color: #323232;
			}
		}
	}
}
